$font-main: 'Asap', sans-serif;
$color-one: #7f8fa6;
$color-two: #487eb0;
$color-three: #e1b12c;
$color-four: #c23616;
$color-five: #353b48;

*, *::before, *::after {
    box-sizing:border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-main;    
    background-color: #353b48;
}

header {
    background: #fff;
    padding: 20px;
}

header h1 { 
    text-transform: capitalize;
    color: $color-five;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-weight: 400;
}

ul {
    margin: 20px;
}

li {
    list-style-type: none;
}

.action {
    font-weight: 700;
    font-size: 24px;
    padding: 20px;
}

button {
    display: inline-block;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-main;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

#button-rock {
    background: $color-one;
    color: #ffffff;
}
#button-rock:hover{
    background: $color-five;;
    color: $color-one;
    border: 3px solid $color-one;
}


#button-paper {
    background: $color-two;
    color: #ffffff;
}
#button-paper:hover{
    background: $color-five;;
    color: $color-two;
    border: 3px solid $color-two
}

#button-scissors {
    background: $color-three;
    color: #ffffff;
}
#button-scissors:hover{
    background: $color-five;;
    color: $color-three;
    border: 3px solid $color-three;
}

.rock {
    color: $color-one;
    font-weight: 400;
}

.paper {
    color: $color-two;
    font-weight: 400;
}

.scissors {
    color: $color-three;
    font-weight: 400;
}

#messages {
    text-transform: capitalize;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

#result {
    border: 3px solid #fff;
    border-radius: 4px;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 15px 20px;
    position: relative;
    font-size: 46px;
}

.badge {
    background: $color-four;
    color: #fff;
    font-size: 14px;
    padding: 2px 10px;
    width: 55px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -25px;
}